.git
.idea
.vscode/
*.code-workspace
node_modules
nbproject
iob_npm.done
admin/i18n/.i18n-editor-metadata

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
